$myMargin : 1rem;

#root {
    margin: 0;
    margin-left: 0px;
}


hr, .title {
    margin: $myMargin;
}

#product_form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.add_labels p {
    margin: 0; 
    padding: 0; 
}

.add_labels {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-items: center;
}

.add_labels input {
    height: auto; 
    padding: 0.2rem; 
    font-size: 1rem; 
}

.add_labels p {
    width: 68px;
}

.product_items{
    display: flex;
    flex-direction: column;
    border: 5px black solid;
}

.product_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}